{
    "webserver" : {
        "port" : "80"
    },
    "database" : {
        "user" : "",
        "password" : "",
        "db_name" : "blogapi",
        "port" : "",
        "host" : ""
    },
    "auth" : {
            "jwtKey" : ""
        }
}